# Class-specific section #


# Java section #
*.class

# Django section #
*.call
*.pot
*.pyc
local_settings.py
*.py[cod]

# C extensions
*.so

# Installer logs
pip-call.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
