
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>

<h1>Create a student:</h1>

<form>
    <div>
        <label for="andrewID"> AndrewID: </label>
        <input id="andrewID" value="kaichenc">
    </div>
    <div>
        <label for="fn"> First Name: </label>
        <input id="fn" value="kaichen">
    </div>
    <div>
        <label for="ln"> Last Name: </label>
        <input id="ln" value="chen">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<hr/>



<h1>Create a course:</h1>


<form>
    <div>
        <label for="andrewID"> Course#: </label>
        <input id="andrewID" value="17637">
    </div>
    <div>
        <label for="fn"> Course Name: </label>
        <input id="fn" value="Web Apps">
    </div>
    <div>
        <label for="ln"> Instructor: </label>
        <input id="ln" value="Charlie and Joshua">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<hr/>

<h1>Register a student for a course:</h1>


<form>
    <div>
        <label for="andrewID"> AndrewID: </label>
        <input id="andrewID" value="kaichenc">
    </div>
    <div>
        <label for="fn"> Course#: </label>
        <input id="fn" value="17637">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<hr/>

<p>Current course rosters:</p>

</body>
</html>